.highlight {
    background-color: #d7d7d7;
}

.reducedPaddingTop {
    padding: 0rem 0.75rem !important;
    font-weight: bold;
    font-size: 14px;
}

.dropdown-item {
    padding: 0rem 1.5rem !important;
    height: 19px !important;
}

.fontReduce {
    font-size: 17px;
}

.highlight .caption>p {
    color: #000;
}

.clearFilterText {
    float: right;
    margin-top: -25px;
    font-size: 1.25rem;
    cursor: pointer !important;
}

.marginLeftTxt {
    margin-left: 15px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-bottom: 2px solid #cd040b !important;
}

.clickMoreDetails {
    font-size: 1.5rem;
}

.form-check-input {
    margin-top: 1rem !important;
}

input[type=checkbox] {
    margin: 9px 0px 0px -11px !important
}

.modelTypeLabel {
    margin-left: 5px !important;
}

.clickMoreDetails {
    color: #fff;
}

.thumbnail {
    border: none !important;
    background-color: none !important;
}

.modelTypeChk,
.modelTypeLabel {
    cursor: pointer;
}

#search-box::-webkit-search-cancel-button {
    position: relative;
    right: 5x;
    cursor: pointer;
}

.thumbnailContentsImage {
    cursor: pointer;
}

.version-check {
    margin-left: 10px;
}

.versionCheckBox {
    margin: 9px 0px 0px -10px !important;
}

@media only screen and (max-width: 567px) {
    .custom-style-chek {
        display: inline-flex !important;
        padding-left: 2rem !important;
    }
    .modelTypesTitle {
        margin-left: 0.6rem !important;
    }
    .form-check-input {
        margin-top: 0.2rem !important;
    }
    .clickBtn {
        text-align: center;
    }
    input[type=checkbox] {
        margin: 4px 0px 0px -11px !important
    }
    .version-check {
        margin-left: 17px;
    }
    .versionCheckBox {
        margin: 8px 0px 0px -10px !important;
    }
}