.searchIcon {
    margin-top: -35px;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    color: #495057 !important;
    border: none !important;
    background: none;
}

.searchIcon:focus {
    outline: none !important;
}

.topSearchBox {
    margin-top: 3px;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 0.5rem var('--box-shadow-first-color'), -0.5rem -0.5rem 0.5rem var('--box-shadow-second-color');
    transition: all 250ms ease-in-out;
    border: none;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.highlight {
    background-color: #d7d7d7;
}

.reducedPaddingTop {
    padding: 0rem 0.75rem !important;
}

.dropdown-item {
    padding: 0rem 1.5rem !important;
    height: 19px !important;
}

.fontReduce {
    font-size: 17px;
}

.highlight .caption>p {
    color: #000;
}

.clearFilterText {
    float: right;
    margin-top: -25px;
    font-size: 1.25rem;
    cursor: pointer !important;
}

.stickyNav {}

.marginLeftTxt {
    margin-left: 15px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-bottom: 2px solid #cd040b !important;
}

input.searchBox,
.form-control.searchBox {
    border: none !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    width: 100%;
    border-radius: 10px !important;
}

.clickMoreDetails {
    font-size: 1.5rem;
}

.searchBoxDiv {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.form-control.searchBox:focus {
    border-radius: 3rem;
}

.topSearchBox:hover,
.topSearchBox:focus {
    outline: none;
    box-shadow: 1rem 1rem 1rem var('--box-shadow-first-color'), -1rem -1rem 1rem var('--box-shadow-second-color');
}

.form-check-input {
    margin-top: 1rem !important;
}

input[type=checkbox] {
    margin: 9px 0px 0px -11px !important
}

.modelTypeLabel {
    margin-left: 5px !important;
}

.clickMoreDetails {
    color: #fff;
}

.thumbnail {
    border: none !important;
    background-color: none !important;
}

.clear-selection {
    font-size: 1.2rem;
    color: #fc060f;
    text-decoration: underline;
    cursor: pointer;
}

.modelTypeChk,
.modelTypeLabel {
    cursor: pointer;
}

#search-box::-webkit-search-cancel-button {
    position: relative;
    right: 5x;
    cursor: pointer;
}

.thumbnailContentsImage {
    cursor: pointer;
}

.version-check {
    margin-left: 10px;
}

.versionCheckBox {
    margin: 9px 0px 0px -10px !important;
}

@media only screen and (max-width: 567px) {
    .custom-style-chek {
        display: inline-flex !important;
        padding-left: 2rem !important;
    }
    .modelTypesTitle {
        margin-left: 0.6rem !important;
    }
    .form-check-input {
        margin-top: 0.2rem !important;
    }
    .clickBtn {
        text-align: center;
    }
    input[type=checkbox] {
        margin: 4px 0px 0px -11px !important
    }
    .version-check {
        margin-left: 17px;
    }
    .versionCheckBox {
        margin: 8px 0px 0px -10px !important;
    }
}