.navbar {
    margin-bottom: 0 !important;
  }
  
  .homeLink {
    font-size: 22px;
    font-weight: bold;
    float: right;
    color: var(--on-background);
    margin-right: 5px;
    cursor: pointer;
    margin-top: 11px;
  }
  
  @media only screen and (max-width: 567px) {
    .homeLink {
      float: right;
      font-size: 21px;
      margin-top: -42px;
    }
  }